.navbar {
    height: 50px;
    background-color: white;
    /* border: 1px solid black; */
}

.logo { 
    font-size: 32px;
    line-height: 50px;
    color: #d3d3d3;
    text-decoration: none;
}

.separator {
    display: flex;
    
}